<mat-card>
    <mat-card-content>
        <div class="cardList">
            <mat-card>
                <button class="complete" style="width: auto!important;padding: 0px 10px;" mat-raised-button
                    (click)="completeTask()" color="primary" matTooltip="Approve Selected Tasks">
                    <mat-icon aria-hidden="false">check_circle_outline</mat-icon>
                </button>

                <button class="delete" style="width: auto!important;padding: 0px 10px;" mat-raised-button
                    (click)="deleteTask()" color="primary" matTooltip="Delete Selected Tasks">
                    <mat-icon aria-hidden="false">highlight_off</mat-icon>
                </button>

                <ag-grid-angular style="width: 100%; height: 370px;" class="ag-theme-balham"
                    [overlayNoRowsTemplate]="noRowsTemplate" [gridOptions]="gridOptions" [columnDefs]="taskDefs"
                    (rowClicked)="onRowClickedForTask($event)" (gridReady)="taskGridReady($event)">
                </ag-grid-angular>
            </mat-card>
        </div>
    </mat-card-content>
</mat-card>

<mat-card class="card" *ngIf="isEdit">
    <form #form="ngForm" [formGroup]="taskUpdateForm">
        <div class="cardList" style="width: 100%;">
            <mat-card style="width: 99%;">
                <mat-card-subtitle>
                    <b><u> Task Details </u></b>
                </mat-card-subtitle>

                <mat-form-field class="full-width" flex-direaction="column">
                    <mat-label>Title</mat-label>
                    <input required matInput formControlName="title" class="form-control" />
                    <mat-error *ngIf="taskUpdateForm.get('title').errors?.required">
                        <strong>Title</strong> is required
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="full-width" flex-direaction="column">
                    <mat-label>Completed Status</mat-label>
                    <mat-select required (selectionChange)="compStatusChange($event)" formControlName="compStatus"
                        [(ngModel)]="selectedStatus">
                        <mat-option *ngFor="let item of compStatusList" [value]="item">
                            {{item}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="taskUpdateForm.get('compStatus').errors?.required">
                        <strong>Completed Status</strong> is required
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="full-width" *ngIf="isComplete">
                    <mat-label>Completed Date</mat-label>
                    <input readonly matInput [matDatepicker]="picker" formControlName="compDate" class="form-control"
                        [(ngModel)]="compDate">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <!-- <mat-error *ngIf="taskUpdateForm.get('compDate').errors?.required">
                        <strong>Completed Date</strong> is required
                    </mat-error> -->
                </mat-form-field>

                <mat-form-field class="full-width">
                    <mat-label>Expected Date</mat-label>
                    <input readonly required matInput [matDatepicker]="picker" formControlName="expDate"
                        class="form-control">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="taskUpdateForm.get('expDate').errors?.required">
                        <strong>Expected Date</strong> is required
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="full-width" flex-direaction="column">
                    <mat-label>Priority</mat-label>
                    <mat-select required (selectionChange)="priorityChange($event)" formControlName="priority"
                        [(ngModel)]="selectedTask">
                        <mat-option *ngFor="let item of priorityList" [value]="item">
                            {{item}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="taskUpdateForm.get('priority').errors?.required">
                        <strong>Priority</strong> is required
                    </mat-error>
                </mat-form-field>

                <mat-card-actions>
                    <button mat-raised-button (click)="updateTask()" class="buttonColor">UPDATE</button>
                </mat-card-actions>

            </mat-card>
        </div>
    </form>
</mat-card>